<?xml version="1.0" encoding="UTF-8"?>  
  
<configuration>  
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">  
        <!-- encoder的默认实现类是ch.qos.logback.classic.encoder.PatternLayoutEncoder -->  
        <encoder>  
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>  
        </encoder>  
    </appender>  
  
    <!-- name值可以是包名或具体的类名：该包（包括子包）下的类或该类将采用此logger
               所有logger的始祖是ROOT，默认会继承ROOT的配置，因此Corruption中的日志会打印两次。 
                    解决：logger的additivity属性设置为false 
     -->  
    <logger name="logging.b.action" level="INFO" additivity="false">  
        <appender-ref ref="STDOUT" />  
    </logger>  
      
    <!-- root的默认level是DEBUG -->  
    <root level="DEBUG">  
        <appender-ref ref="STDOUT" />  
    </root>  
</configuration> 